<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ABOUT</title>
  </head>
  <body>
    {{> header}}
    <h1>{{pageTitle}}</h1>
    <p>enter text here</p>
  {{> footer}}
  </body>
</html>
