<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME PAGE</title>
  </head>
  <body>
    {{> header}}
    <h1>{{capital welcomeMessage}}</h1>
    <p>enter text here.</p>
    <textarea  rows="8" cols="80"></textarea>
  {{> footer}}
  </body>
</html>
